#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.menu-bakery h2 {
  margin-bottom: 8px;
  color: #b5651d;
}

.btn-order {
  background-color: #ffb347;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 8px;
}

.app-container {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: #dfded6;
  min-height: 100vh;
}

/* Header fixo */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #5ac9a7;
}

.bakery-title {
  font-size: 2rem;
  color: #fcfcfc;
  letter-spacing: 2px;
  margin: 0;
}


.main-content {
  padding: 40px 20px;
}

.logo-img {
  width: 55px;
  height: 55px;
  object-fit: contain;
  border-radius: 50%; 
  background-color: #f2fff7; 
  padding: 4px;
}

.menu-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  margin: 10px auto;
  width: fit-content;
}

.menu-section label {
  font-size: 1rem;
  color: #4a2c2a;
  cursor: pointer;
}

.menu-section input[type="checkbox"] {
  margin-right: 8px;
  accent-color: #f2c94c;
  transform: scale(1.2);
}

/*  croissants specific group */
/* .croissant-group { */
  /* margin-top: 8px;
}

.croissant-group strong {
  display: block;
  margin-bottom: 4px;
  color: #4a2c2a;
  font-weight: 600;
}

.croissant-options {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: 15px;
} */

.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #5c2c0c;
  font-weight: 600;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #c76a2b;
  
}


.page {
  padding: 30px;
  text-align: center;
  color: #5c2c0c;
}